In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import pandas as pd
import numpy as np

In [2]:
main_data = pd.read_csv('all_with_liwc_segmented.csv')

In [3]:
md = main_data.copy()
md['discuss_qoutient'] = md['comments'] / md['views']

In [4]:
md = md[['title', 'main_speaker', 'published_date', 'views', 'comments', 'ratings','tags','speaker_occupation','event','comments'
        ,'description','duration','film_date','languages','name','related_talks','discuss_qoutient']].sort_values('discuss_qoutient',ascending=False).head(15)
md

,title,main_speaker,published_date,views,comments,ratings,tags,speaker_occupation,event,comments,description,duration,film_date,languages,name,related_talks
0,Plant fuels that could power a jet,Bilal Bomani,1327157906,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...","['Natural resources', 'TEDx', 'alternative ene...",NASA scientist,TEDxNASA@SiliconValley,76,Algae plus salt water equals ... fuel? At TEDx...,869,1313539200,20,Bilal Bomani: Plant fuels that could power a jet,"[{'id': 51, 'hero': 'https://pe.tedcdn.com/ima..."
1,A new way to stop identity theft,David Birch,1338732516,174326,208,"[{'id': 8, 'name': 'Informative', 'count': 145...","['TEDx', 'security', 'self', 'technology']",Digital money and identity consultant,TEDxSussexUniversity,208,"Bartenders need to know your age, retailers ne...",1023,1335484800,18,David Birch: A new way to stop identity theft,"[{'id': 1132, 'hero': 'https://pe.tedcdn.com/i..."
2,The balancing act of compassion,Jackie Tabick,1225426620,176245,76,"[{'id': 25, 'name': 'OK', 'count': 14}, {'id':...","['charter for compassion', 'compassion', 'glob...",Spiritual leader,TEDSalon 2009 Compassion,76,While we all agree that compassion is a great ...,946,1254355200,30,Jackie Tabick: The balancing act of compassion,"[{'id': 676, 'hero': 'https://pe.tedcdn.com/im..."
3,I am a pirate,Rick Falkvinge,1333289675,181010,122,"[{'id': 8, 'name': 'Informative', 'count': 156...","['Internet', 'TEDx', 'global issues', 'politic...",No Occupation Noted,TEDxObserver,122,"The Pirate Party fights for transparency, anon...",1097,1331424000,10,Rick Falkvinge: I am a pirate,"[{'id': 1329, 'hero': 'https://pe.tedcdn.com/i..."
4,Look at the letters around you: on street sign...,Martina Flor,1512507657,182679,8,"[{'id': 1, 'name': 'Beautiful', 'count': 61}, ...","['TED en EspaÌ±ol', 'TEDx', 'art', 'books', 'c...",Lettering designer,TEDxRiodelaPlata,8,Martina Flor: The secret language of letter de...,735,1477094400,6,Martina Flor: The secret language of letter de...,"[{'id': 2692, 'hero': 'https://pe.tedcdn.com/i..."
5,The camel's hump,Keith Bellows,1221440400,185275,12,"[{'id': 8, 'name': 'Informative', 'count': 68}...","['animals', 'energy', 'entertainment', 'global...",Traveler,TED2002,12,Keith Bellows gleefully outlines the engineeri...,966,1012608000,18,Keith Bellows: The camel's hump,"[{'id': 69, 'hero': 'https://pe.tedcdn.com/ima..."
6,My subversive (garden) plot,Roger Doiron,1324135250,191555,130,"[{'id': 3, 'name': 'Courageous', 'count': 58},...","['TEDx', 'culture', 'food', 'garden', 'global ...",Gardening activist,TEDxDirigo,130,A vegetable garden can do more than save you m...,1129,1315612800,3,Roger Doiron: My subversive (garden) plot,"[{'id': 1284, 'hero': 'https://pe.tedcdn.com/i..."
7,Nature vs. humans,Paul MacCready,1224637200,197139,29,"[{'id': 9, 'name': 'Ingenious', 'count': 47}, ...","['demo', 'design', 'drones', 'flight', 'green'...",Engineer,TED1998,29,"In 1998, aircraft designer Paul MacCready look...",1368,886377600,19,Paul MacCready: Nature vs. humans,"[{'id': 74, 'hero': 'https://pe.tedcdn.com/ima..."
8,A parable for Kenya,Joseph Lekuton,1203901200,200726,43,"[{'id': 10, 'name': 'Inspiring', 'count': 183}...","['Africa', 'collaboration', 'culture', 'global...",Kenyan MP,TEDGlobal 2007,43,"Joseph Lekuton, a member of parliament in Keny...",326,1181088000,29,Joseph Lekuton: A parable for Kenya,"[{'id': 156, 'hero': 'https://pe.tedcdn.com/im..."
9,Compassion at the dinner table,James Forbes,1225428300,204410,30,"[{'id': 10, 'name': 'Inspiring', 'count': 73},...","['charter for compassion', 'compassion', 'fait...",Preacher,Chautauqua Institution,30,Join Rev. James Forbes at the dinner table of ...,1118,1254355200,20,James Forbes: Compassion at the dinner table,"[{'id': 674, 'hero': 'https://pe.tedcdn.com/im..."
10,Tools for a better world,Jamais Cascio,1232499600,212202,22,"[{'id': 24, 'name': 'Persuasive', 'count': 37}...","['culture', 'future', 'global issues', 'social...",World-builder,TED2006,22,We all want to make the world better -- but ho...,975,1138838400,18,Jamais Cascio: Tools for a better world,"[{'id': 2, 'hero': 'https://pe.tedcdn.com/imag..."
11,The oil spill's toxic trade-off,Susan Shaw,1280221320,220099,123,"[{'id': 24, 'name': 'Persuasive', 'count': 107...","['TEDx', 'business', 'chemistry', 'disaster re...",Marine toxicologist,TEDxOilSpill,123,"Break down the oil slick, keep it off the shor...",1002,1277683200,17,Susan Shaw: The oil spill's toxic trade-off,"[{'id': 914, 'hero': 'https://pe.tedcdn.com/im..."
12,"A tour of Nollywood, Nigeria's booming film in...",Franco Sacchi,1227056400,223082,36,"[{'id': 25, 'name': 'OK', 'count': 28}, {'id':...","['Africa', 'creativity', 'culture', 'entertain...",Filmmaker,TEDGlobal 2007,36,Zambia-born filmmaker Franco Sacchi tours us t...,1054,1181088000,19,"Franco Sacchi: A tour of Nollywood, Nigeria's ...","[{'id': 205, 'hero': 'https://pe.tedcdn.com/im..."
13,The ocean's shifting baseline,Daniel Pauly,1330451121,224768,27,"[{'id': 8, 'name': 'Informative', 'count': 110...","['animals', 'biodiversity', 'climate change', ...",Fisheries biologist,Mission Blue Voyage,27,"The ocean has degraded within our lifetimes, a...",542,1270857600,26,Daniel Pauly: The ocean's shifting baseline,"[{'id': 830, 'hero': 'https://pe.tedcdn.com/im..."
14,A hospital tour in Nigeria,Seyi Oyesola,1211902080,230569,49,"[{'id': 25, 'name': 'OK', 'count': 27}, {'id':...","['activism', 'design', 'health', 'health care'...",Doctor,TEDGlobal 2007,49,Dr. Seyi Oyesola takes a searing look at healt...,863,1181088000,21,Seyi Oyesola: A hospital tour in Nigeria,"[{'id': 185, 'hero': 'https://pe.tedcdn.com/im..."

In [5]:
md.head(3)

,title,main_speaker,published_date,views,comments,ratings,tags,speaker_occupation,event,comments,description,duration,film_date,languages,name,related_talks
0,Plant fuels that could power a jet,Bilal Bomani,1327157906,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...","['Natural resources', 'TEDx', 'alternative ene...",NASA scientist,TEDxNASA@SiliconValley,76,Algae plus salt water equals ... fuel? At TEDx...,869,1313539200,20,Bilal Bomani: Plant fuels that could power a jet,"[{'id': 51, 'hero': 'https://pe.tedcdn.com/ima..."
1,A new way to stop identity theft,David Birch,1338732516,174326,208,"[{'id': 8, 'name': 'Informative', 'count': 145...","['TEDx', 'security', 'self', 'technology']",Digital money and identity consultant,TEDxSussexUniversity,208,"Bartenders need to know your age, retailers ne...",1023,1335484800,18,David Birch: A new way to stop identity theft,"[{'id': 1132, 'hero': 'https://pe.tedcdn.com/i..."
2,The balancing act of compassion,Jackie Tabick,1225426620,176245,76,"[{'id': 25, 'name': 'OK', 'count': 14}, {'id':...","['charter for compassion', 'compassion', 'glob...",Spiritual leader,TEDSalon 2009 Compassion,76,While we all agree that compassion is a great ...,946,1254355200,30,Jackie Tabick: The balancing act of compassion,"[{'id': 676, 'hero': 'https://pe.tedcdn.com/im..."

In [6]:
md.corr()

,published_date,views,comments,comments,duration,film_date,languages
published_date,1.000000,-0.379661,0.189660,0.189660,-0.138962,0.744361,-0.615327
views,-0.379661,1.000000,-0.332812,-0.332812,-0.124348,-0.265117,0.188648
comments,0.189660,-0.332812,1.000000,1.000000,0.249104,0.399387,-0.233602
comments,0.189660,-0.332812,1.000000,1.000000,0.249104,0.399387,-0.233602
duration,-0.138962,-0.124348,0.249104,0.249104,1.000000,-0.304198,-0.417937
film_date,0.744361,-0.265117,0.399387,0.399387,-0.304198,1.000000,-0.359473
languages,-0.615327,0.188648,-0.233602,-0.233602,-0.417937,-0.359473,1.000000

In [7]:
md['comments'] = md['comments'].astype('int32')
md['description'] = md['description'].str.lower().str.strip()
md['duration'] = md['duration'].astype('int32')
md['event'] = md['event'].astype('category').str.lower().str.strip()
md['film_date'] = pd.to_datetime(md['film_date'], unit='s')
md['languages'] = md['languages'].astype('int32')
md['main_speaker'] = md['main_speaker'].str.lower().str.strip()
md['name'] = md['name'].str.lower().str.strip()

md['published_date'] = pd.to_datetime(md['published_date'], unit='s')
md['speaker_occupation'] = md['speaker_occupation'].astype('category').str.lower().str.strip()
md['title'] = md['title'].str.lower().str.strip()

In [8]:
#Don't need film_date,  published_date is enough
md.drop('film_date', axis=1, inplace= True)
mdcopy=md.copy()

In [9]:
mdcopy.shape

(15, 15)

In [10]:
#unpack ratings
md.ratings = md.ratings.apply(ast.literal_eval)
md.ratings[0]

[{'id': 24, 'name': 'Persuasive', 'count': 59},
 {'id': 8, 'name': 'Informative', 'count': 135},
 {'id': 10, 'name': 'Inspiring', 'count': 102},
 {'id': 21, 'name': 'Unconvincing', 'count': 24},
 {'id': 9, 'name': 'Ingenious', 'count': 106},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 29},
 {'id': 7, 'name': 'Funny', 'count': 23},
 {'id': 22, 'name': 'Fascinating', 'count': 80},
 {'id': 1, 'name': 'Beautiful', 'count': 7},
 {'id': 25, 'name': 'OK', 'count': 26},
 {'id': 3, 'name': 'Courageous', 'count': 16},
 {'id': 2, 'name': 'Confusing', 'count': 16},
 {'id': 11, 'name': 'Longwinded', 'count': 17},
 {'id': 26, 'name': 'Obnoxious', 'count': 10}]

In [11]:
def co(i):
    counts = 0
    for item in i:
        counts += item["count"]
    return counts

In [12]:
#Add new columns
for i, rate in enumerate(md.ratings):
    maximum = ["", 0]
    for item in rate:
        md.loc[i, item['name'].lower()] = item['count']
        #Add a column which shows which rated object has the most value
        if item['count'] > maximum[1]:   
            maximum = [item['name'].lower(), item['count']]
    md.loc[i, 'maximum-rated'] = maximum[0]

In [13]:
#Add total rating count
md["rating-count"] = md.ratings.apply(lambda x: co(x))
md.head(1)

,title,main_speaker,published_date,views,comments,ratings,tags,speaker_occupation,event,comments,...,funny,fascinating,beautiful,ok,courageous,confusing,longwinded,obnoxious,maximum-rated,rating-count
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...","['Natural resources', 'TEDx', 'alternative ene...",nasa scientist,tedxnasa@siliconvalley,76,...,23.0,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650

In [14]:
#unpack related_talks
md.related_talks = md.related_talks.apply(ast.literal_eval)
md.related_talks[0]

[{'id': 51,
  'hero': 'https://pe.tedcdn.com/images/ted/170_480x360.jpg',
  'speaker': 'Amory Lovins',
  'title': 'Winning the oil endgame',
  'duration': 1184,
  'slug': 'amory_lovins_on_winning_the_oil_endgame',
  'viewed_count': 832700},
 {'id': 128,
  'hero': 'https://pe.tedcdn.com/images/ted/29a5aa128f9a31d66cd97b6e0549e971d6da02cb_1600x1200.jpg',
  'speaker': 'John Doerr',
  'title': 'Salvation (and profit) in greentech',
  'duration': 1072,
  'slug': 'john_doerr_sees_salvation_and_profit_in_greentech',
  'viewed_count': 805181},
 {'id': 192,
  'hero': 'https://pe.tedcdn.com/images/ted/2412c9764c6b9bed2d9bd55ec7a6b9e540297839_1600x1200.jpg',
  'speaker': 'David Keith',
  'title': 'A critical look at geoengineering against climate change',
  'duration': 958,
  'slug': 'david_keith_s_surprising_ideas_on_climate_change',
  'viewed_count': 876738},
 {'id': 1561,
  'hero': 'https://pe.tedcdn.com/images/ted/93ef1e914e9715e911cbcac0447377bdb1bfafe6_1600x1200.jpg',
  'speaker': 'Jonathan Trent',
  'title': 'Energy from floating algae pods',
  'duration': 885,
  'slug': 'jonathan_trent_energy_from_floating_algae_pods',
  'viewed_count': 809353},
 {'id': 1783,
  'hero': 'https://pe.tedcdn.com/images/ted/744576a78f9205a018c41fc80d90bce312a09987_1600x1200.jpg',
  'speaker': 'Mohamed Hijri',
  'title': 'A simple solution to the coming phosphorus crisis',
  'duration': 821,
  'slug': 'mohamed_hijri_a_simple_solution_to_the_coming_phosphorus_crisis',
  'viewed_count': 618465},
 {'id': 2127,
  'hero': 'https://pe.tedcdn.com/images/ted/d5392a4becfeddb12318d16f9b3e66eea70449c1_2880x1620.jpg',
  'speaker': 'Ameenah Gurib-Fakim',
  'title': 'Humble plants that hide surprising secrets',
  'duration': 852,
  'slug': 'ameenah_gurib_fakim_humble_plants_that_hide_surprising_secrets',
  'viewed_count': 952373}]

In [15]:
#unpack tags
md.tags = md.tags.apply(ast.literal_eval)
md.tags[0]

['Natural resources',
 'TEDx',
 'alternative energy',
 'biotech',
 'climate change',
 'ecology',
 'energy',
 'engineering',
 'environment',
 'future',
 'green',
 'innovation',
 'nature',
 'oceans',
 'plants',
 'science',
 'solar energy',
 'sustainability',
 'synthetic biology',
 'technology']

In [16]:

md.head()

,title,main_speaker,published_date,views,comments,ratings,tags,speaker_occupation,event,comments,...,funny,fascinating,beautiful,ok,courageous,confusing,longwinded,obnoxious,maximum-rated,rating-count
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...","[Natural resources, TEDx, alternative energy, ...",nasa scientist,tedxnasa@siliconvalley,76,...,23.0,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650
1,a new way to stop identity theft,david birch,2012-06-03 14:08:36,174326,208,"[{'id': 8, 'name': 'Informative', 'count': 145...","[TEDx, security, self, technology]",digital money and identity consultant,tedxsussexuniversity,208,...,62.0,73.0,5.0,41.0,7.0,14.0,21.0,5.0,informative,602
2,the balancing act of compassion,jackie tabick,2008-10-31 04:17:00,176245,76,"[{'id': 25, 'name': 'OK', 'count': 14}, {'id':...","[charter for compassion, compassion, global is...",spiritual leader,tedsalon 2009 compassion,76,...,0.0,8.0,28.0,14.0,7.0,7.0,30.0,13.0,inspiring,209
3,i am a pirate,rick falkvinge,2012-04-01 14:14:35,181010,122,"[{'id': 8, 'name': 'Informative', 'count': 156...","[Internet, TEDx, global issues, politics, tech...",no occupation noted,tedxobserver,122,...,66.0,54.0,7.0,62.0,148.0,11.0,26.0,22.0,inspiring,1132
4,look at the letters around you: on street sign...,martina flor,2017-12-05 21:00:57,182679,8,"[{'id': 1, 'name': 'Beautiful', 'count': 61}, ...","[TED en EspaÌ±ol, TEDx, art, books, communicat...",lettering designer,tedxriodelaplata,8,...,3.0,45.0,61.0,5.0,0.0,0.0,0.0,1.0,beautiful,226

In [18]:
import ast
md['tags'] = md['tags'].apply(lambda x: ast.literal_eval(str(x)) )

In [19]:
s = md.apply(lambda x: pd.Series(x['tags']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'theme'

md= md.drop('tags', axis=1).join(s)
md.head()

,title,main_speaker,published_date,views,comments,ratings,speaker_occupation,event,comments,description,...,fascinating,beautiful,ok,courageous,confusing,longwinded,obnoxious,maximum-rated,rating-count,theme
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...",nasa scientist,tedxnasa@siliconvalley,76,algae plus salt water equals ... fuel? at tedx...,...,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650,Natural resources
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...",nasa scientist,tedxnasa@siliconvalley,76,algae plus salt water equals ... fuel? at tedx...,...,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650,TEDx
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...",nasa scientist,tedxnasa@siliconvalley,76,algae plus salt water equals ... fuel? at tedx...,...,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650,alternative energy
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...",nasa scientist,tedxnasa@siliconvalley,76,algae plus salt water equals ... fuel? at tedx...,...,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650,biotech
0,plant fuels that could power a jet,bilal bomani,2012-01-21 14:58:26,155895,76,"[{'id': 24, 'name': 'Persuasive', 'count': 59}...",nasa scientist,tedxnasa@siliconvalley,76,algae plus salt water equals ... fuel? at tedx...,...,80.0,7.0,26.0,16.0,16.0,17.0,10.0,informative,650,climate change

In [20]:
md.shape

(116, 31)

In [21]:
md.to_excel(r'Export_Clean_Ted_bottom15.xlsx')